.home-wrapper {
  position: relative;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: -5rem;
}

.reach-button-home {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  background-image: linear-gradient(135deg, #eff1f8, #9999ff 150%) !important;
  color: #4b53c1 !important;
}

.home-image {
  width: 100%;
}
