@value day, night from 'ui-kit/theme/colors.css';

@value slowTransition from 'ui-kit/theme/transitions.css';

.header-wrapper {
  background-color: transparent;
  position: fixed;
  width: 100%;
  z-index: 2;
  transition: slowTransition;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0.5rem 0;
}

.logo {
  width: 50px;
  opacity: 0;
  visibility: hidden;
  transition: slowTransition;
  position: absolute;
  top: 5px;
  left: 10px;
}

.logo-active {
  opacity: 1;
  visibility: visible;
}

.header-active {
  background-color: day !important;
}

.logo-container {
  width: 100px;
  padding: 2rem;
  position: relative;
}

.links-container {
  display: flex;
  padding: 0 1rem;
  color: white;
}

.links-container-active {
  display: flex;
  padding: 0 1rem;
  color: night;
}
