.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid lightgrey;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot-active {
  background-color: lightgrey;
}

.dot:hover {
  background-color: lightgrey;
}
