@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Advent+Pro:300,400&display=swap');

html {
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  color: #3a3b42;
}

.home-wrapper {
  position: relative;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.home-chars {
  position: absolute;
  width: 100%;
}

.reach-button-home {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(135deg, #eff1f8, #9999ff 150%) !important;
  color: #4b53c1 !important;
}

.home-image {
  width: 100%;
}
