@value fastTransition from 'ui-kit/theme/transitions.css';

.button-wrapper {
  letter-spacing: 1px;
  background-image: linear-gradient(
    135deg,
    rgb(55, 67, 211),
    rgb(71, 179, 255) 150%
  );
  font-weight: 500;
  color: white;
  outline: none;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  padding: 0.75rem 1.75rem;
  font-size: 1.1rem;
  line-height: 1.5;
  border-radius: 0.5em;
  cursor: pointer;
  border: none;
  transition: fastTransition;
}
.button-wrapper:hover {
  box-shadow: 0 0 25px 1px #6a89f3;
}
