.slide-container {
  display: none;
  opacity: 0;
  padding: 2rem;
  box-shadow: 2px silver;
  background: white;
  min-height: 620px;
  max-width: 780px;
  margin: 0 auto;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  transition: 0.395s opacity cubic-bezier(0.4, 0, 0.2, 1);
}

.slide-container-active {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slide-container-visible {
  opacity: 1;
}

.slide-image {
  width: 100%;
  border-radius: 3px;
}

.slide-title {
  text-align: center;
}

.slide-synopsis {
  line-height: 1.5em;
  margin: 0;
  padding: 1rem;
}
