@value day from 'ui-kit/theme/colors.css';

.footer-wrapper {
  background-color: day;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.reach-wrapper {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAsgAAAHOCAYAAAHyHc9gAAAABGdBT…cM2rSXcZwyxlxbmVLFmMFeu2CY3j5kOGQgZCBkIGSg8TLw/0n8F5YBqKJQAAAAAElFTkSuQmCC);
  width: 100%;
  min-height: 600px;
  background-position: center center;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  background-size: contain;
}

.reach-button {
  margin-right: 2.5rem;
  background-image: linear-gradient(135deg, #eff1f8, #9999ff 150%);
  color: #4b53c1;
}

.reach-text {
  font-size: 1.5em;
  color: #eff1f8;
  margin-top: 2rem;
  text-transform: uppercase;
  margin-right: 7rem;
}

.social-media-container {
  display: flex;
  justify-content: center;
  padding: 1rem;
  width: 100%;
  background-image: linear-gradient(180deg, #f1f4fd, #ccd6f9);
}
