@value granite, night from 'ui-kit/theme/colors.css';
@value slowTransition from 'ui-kit/theme/transitions.css';

.blog-post-card {
  display: flex;
  background-color: white;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  flex: 0 0 33.3%;
  max-width: 300px;
  max-height: 300px;
  cursor: pointer;
}

.blog-post-image-wrapper {
  flex: 1;
  width: 100%;
  height: 50%;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

.blog-post-card-image {
  width: 100%;
  flex: 1;
  object-position: center center;
  object-fit: cover;
  height: 100%;
  border-radius: 10px 10px 0 0;
  transition: slowTransition;
}

.blog-post-card-image:hover {
  transform: rotate(5deg) scale(1.2) translateX(0) translateZ(0);
}

.blog-post-card-title {
  text-align: center;
  font-size: 1.25em;
  color: night;
  font-weight: bold;
}

.blog-post-card-author {
  width: 100%;
  text-align: center;
  color: granite;
  margin: 0;
}
.blog-post-text-wrapper {
  width: 100%;
  height: 50%;
}

.blog-post-card-nameDate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: Montserrat, sans-serif;
}

.blog-post-card-createdAt {
  margin: 0.5rem 0.5rem 1rem 0.5rem;
  font-size: 0.75em;
}
