@value night, monza from 'ui-kit/theme/colors.css';

.form-input {
  padding: 0.5rem 0.5rem;
  font-size: 1.2em;
  border-radius: 5px;
  box-shadow: none;
  border: 2px solid night;
  height: 25px;
  font-family: 'Advent Pro', sans-serif;
  max-width: 400px;
}

textarea {
  max-width: 500px;
}

.form-field-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 1rem;
}

.form-label {
  font-size: 1.25em;
  padding: 0.5rem 0;
  color: night;
  font-weight: bold;
}

.validation-error-label {
  padding: 0.5rem;
  color: monza;
  position: relative;
  visibility: visible;
}
.invisible {
  visibility: hidden;
}
