@value fastTransition from 'ui-kit/theme/transitions.css';

.social-media-logo {
  width: 50px;
  height: 50px;
  background: center center no-repeat;
  background-size: contain;
  max-width: 40px;
  margin: 1rem;
  position: relative;
  top: 0;
  transition: fastTransition;
  cursor: pointer;
}

.social-media-logo:hover {
  top: -5px;
}
