@value slowTransition from 'ui-kit/theme/transitions.css';

.logo {
  width: 50px;
  opacity: 0;
  visibility: hidden;
  transition: slowTransition;
  position: absolute;
  top: 5px;
  left: 10px;
}

.logo-active {
  opacity: 1;
  visibility: visible;
}
