@value dark: #000;

@value light: #fff;

/* brand colours */
@value wedgewood: #4f7cac; /* blue */

@value seafarer: #0077FF; /* mid blue */

@value skyBlue: #00CCFF; /* sky blue */

@value darkBlue: #1c1d21; /* dark blue */

@value alto: #d8d8d8; /* light grey */

@value granite: #9b9b9b; /* mid grey */

@value charade: #272932; /* almost-black */

/* ui colours */
@value lima: #7ed321; /* green */

@value monza: #CC2D38; /* red */

@value alizarin: #e74c3c; /* mid red */

@value pomegranate: #c0392b; /* dark red */

@value orange: #F5A623; /* orange */

/* random colours */
@value regentgrey: #7c8c97; /* some light blue he uses on text */

@value porcelain: #eaecee; /* 0.16 opacity $regentgrey */

@value alabaster: #f8f8f8; /* almost-white */

/* modals */
@value cornflowerblue: #5f5fff;

@value night: #090054;

@value day: #f8f8fa;
