@value low: '0 1px 2px rgba(0, 0, 0, 0.15)';

@value lowHover: '0 1px 2px rgba(0, 0, 0, 0.3), 0 3px 6px rgba(0, 0, 0, 0.15)';

@value medium: '0 2px 4px rgba(0, 0, 0, 0.2)';

@value mediumHover: '0 2px 4px rgba(0, 0, 0, 0.4), 0 6px 12px rgba(0, 0, 0, 0.3)';
