@value easeInOut: cubic-bezier(0.4, 0.0, 0.2, 1);

@value fastTransitionSpeed: 0.195s;

@value slowTransitionSpeed: 0.375s;

@value fastTransition: 0.195s all cubic-bezier(0.4, 0.0, 0.2, 1);

@value slowTransition: 0.375s all cubic-bezier(0.4, 0.0, 0.2, 1);

@value deceleratingSlowTransition: 0.375s all cubic-bezier(0.0, 0.0, 0.2, 1);

@value deceleratingFastTransition: 0.195s all cubic-bezier(0.0, 0.0, 0.2, 1);
