.comment-form {
  padding: 1rem;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  max-width: 900px;
}

.comment-submit-button {
  height: 45px;
  margin-top: 2.5rem;
}

@media only screen and (max-width: 480px) {
  .comment-form {
    flex-wrap: wrap;
  }
}
