.blog-post-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin: 1rem;
  border-radius: 20px;
  max-width: 1260px;
  margin: 0 auto;
}

.comments-wrapper {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin: 1rem auto !important;
  border-radius: 20px;
  max-width: 1260px;
  margin: 0 auto;
}

.markdown-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  width: 100%;
}

.blog-post-main-content {
  padding: 5rem 1rem 1rem 1rem;
  margin-top: -5rem;
  background: linear-gradient(
    0deg,
    rgba(186, 174, 255, 1) 13%,
    rgba(70, 118, 212, 1) 97%,
    rgba(127, 39, 230, 1) 100%
  );
}

.comment-form-container {
  width: 100%;
  max-width: 900px;
}

.blog-post-image {
  width: 100%;
  border-radius: 20px;
}

.blog-post-title {
  margin: 3rem;
}
