@value granite, night from 'ui-kit/theme/colors.css';

.info-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem;
  flex: 0 0 33.3%;
  max-width: 230px;
}

.info-card-image {
  width: 200px;
  padding: 0.5rem;
  height: 200px;
}

.info-card-title {
  text-align: center;
  font-size: 1.25em;
  color: night;
}

.info-card-text {
  font-family: 'Advent Pro', sans-serif;
  width: 100%;
  text-align: center;
  line-height: 1.73;
  letter-spacing: 0.5px;
  color: granite;
  margin: 0;
  font-size: 1.15em;
}
