@value wedgewood, night from 'ui-kit/theme/colors.css';

.services-container {
  max-width: 1280px;
  margin: 0 auto;
}
.services-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.services-title {
  text-align: center;
  position: relative;
  padding: 1rem;
  font-size: 2.5rem;
  color: night;
}
.services-title::before {
  width: 75px;
  height: 2px;
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  background-color: wedgewood;
  transform: translateX(-50%);
}
